/***** BASE STYLES *****/

body {
	font-family: Montserrat, sans-serif;
	min-width: 1400px;
}

#header {
	height: 80px;
}

#background {
	height: 720px;
}
#work {
	height: 1550px;
}

#about {
	height:	550px;
}

#contact {
	height: 400px;
}

.top {
	height: 500px;
}

.middle {
	height: 500px;
}

.bottom {
	height: 500px;
}

/***** GRID *****/

.full-width {
	margin: auto 100px;
	width: 1200px;
}

.half-width {
	float: left;
	width: 600px;
}

.third-width {
	float: left;
	width: 400px;
}

/***** HEADER *****/

header {
	background: #1f202b;
}

header h1 {
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	margin-left: -60px;
} 

nav {
	float: right;
	margin-right: -60px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	padding-left: 45px;
	text-decoration: none;
}

/***** BACKGROUND *****/

#background {
	background: url('../img/background.png');
	background-size: cover;
	overflow: hidden;
}

#background h2 {
	color: #ffffff;
	font-family: Source Code Pro, monospace;
	font-size: 72px;
	padding: 225px 100px;
	width: 650px;
}

#background h2 span {
	color: #fa0075;
}

/***** WORK *****/

#work {
	background: #1f202b;
	margin-top: -30px;
}

#work h2 {
	color: #fa0075;
	font-family: Source Code Pro, monospace;
	font-size: 36px;
	text-align: center;
}

#work h3 {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#work p {
	color: #ffffff;
	font-size: 24px;
	text-align: center;
}

#work img {
	border: 1px #b7b7b7;
	height: 350px;
	width: 550px;
}

#work .left {
	padding-right: 50px;
}

#work .right {
	padding-left: 50px;
}

#work .middle {
	float: left;
}

#work .top {
	padding-top: 50px;
}

/***** ABOUT *****/

#about {
	background: url('../img/about.png');
	background-size: cover;
	overflow: hidden;
}

#about h2 {
	color: #fa0075;
	font-family: Source Code Pro, monospace;
	font-size: 36px;
	text-align: center;
}

#about h3 {
	font-size: 24px;
	font-weight: bold;
}

#about p {
	font-size: 20px;
	line-height: 30px;
	width: 750px;
}

/***** FOOTER *****/

#contact {
	background: #1f202b;
	margin-top: -30px;
}

#contact .full-width {
}

#contact h2 {
	color: #fa0075;
	font-family: Source Code Pro, monospace;
	font-size: 36px;
	padding-top: 50px;
	text-align: center;
}

#contact h3 {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#contact p {
	color: #ffffff;
	font-size: 24px;
	text-align: center;
}

#contact p span {
	font-size: 18px;
	line-height: 150px
}

#contact a {
	color: #ffffff;
	text-decoration: none;
}
#contact ul {
	list-style: none;
}

#contact ul li {
	display: inline-block;
	padding-left: 40px;
}

